.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}



.space{
    width: 100px;
    height: 30px;
}

.field{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.field p{
    width: 120px;
    font-weight: bold;
}