.container{
    display: flex;

}

.icon{
    color: black;
}

.navContainer{
    display: flex;
    flex-direction: column;
    width: 131px;
    height: 1100px;
    border-right: 1px solid black;
}

.navUser{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
}

.navUser p{
    font-size: 11px;
    margin: 0;
    padding: 0;
}

.btnText{
    font-size: 14px;
}

.pageContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.addCityHead{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid black;
}

.addCityHead p {
    font-size: 25px;
}